asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Django==5.0.3
factory-boy==3.3.0
Faker==24.2.0
fonttools==4.49.0
idna==3.6
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pluggy==1.4.0
pyparsing==3.1.2
pytest==8.1.1
pytest-django==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
seaborn==0.13.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1